.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  width: 60px;
  font-weight: bold;
  background: #50c878;
  color: white;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
}
